<div *ngIf="!pais; else divPais" class="alert alert-info">
  Espere por favor...
</div>



<ng-template #divPais>

  <div class="row">
    <div class="col-12">
      <h1>País: <small>{{ pais.name }}</small></h1>
    </div>
  </div>

  <div class="row">

    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="pais.flag" class="img-thumbnail" />
    </div>

    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población</strong> {{ pais.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código numérico</strong> {{ pais.numericCode }}
        </li>
        <li class="list-group-item">
          <strong>Código alpha3</strong> {{ pais.alpha3Code }}
        </li>
        <li class="list-group-item">
          <strong>Geolocatilzación</strong> <a (click)="openModal()" class="btn p-1 mb-1" style="color:red;">Ver</a>
        </li>
      </ul>
    </div>


  </div>

  <h3>Traducciones</h3>
  <div class="row">
    <div class="col">

      <span class="badge bg-primary mr-1">{{ pais.translations.de }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.es }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.fr }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.ja }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.it }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.br }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.pt }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.nl }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.hr }}</span>
      <span class="badge bg-primary mr-1">{{ pais.translations.fa }}</span>

    </div>
  </div>


  <!-- <pre class="mt-5">
        {{ pais | json }}
    </pre> -->


</ng-template>

<!--modal-->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card">
          <div class="card-header bg-white">
            <div class="d-flex item-content-inline">
              <h4 class="modal-title">Geolocatilzación</h4>
              <svg xmlns="http://www.w3.org/2000/svg" (click)="closeModal()" style="color: red;" width="16" height="16"
                fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
              </svg>
            </div>
          </div>
          <div class="card-body">
            <app-geolocalizacion-modal></app-geolocalizacion-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
